.container {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.profileimage {
  border-radius: 50%;
  background-color: black;
}
.flexRight {
  flex: 1;
  overflow: auto;
}
.userName {
  font-size: 1rem;
  font-weight: 600;
}
.about {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--textSoft);
  font-size: 0.9rem;
  box-sizing: border-box;
}
.expandProfile {
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 2;
  border: none;
  position: absolute;
  right: 0px;
  top: 15px;
  background-color: transparent;
}
.expandProfile.closeBtn {
  right: auto;
  left: 8px;
}
.editProfileContainer {
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: auto auto 1fr;
}
.editProfileImage {
  padding: 24px 16px;
  border-bottom: 1px solid #464545;
}
.imageCoverLoader {
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.imageCover {
  width: 160px;
  height: 160px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.form {
  padding: 16px;
}
.form input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 4px;
  font-size: 0.9rem;
  border-bottom: 1px solid white;
}
.form textarea {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 4px;
  font-size: 0.9rem;
  resize: none;
  border-bottom: 1px solid white;
}
.formDiv {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr auto;
  align-items: end;
  width: 100%;
  margin-bottom: 16px;
}
.formDiv button {
  background-color: blue;
  border: none;
  padding: 6px;
}
.logOutButton {
  width: 100%;
  background-color: blue;
  color: white;
  border: none;
  padding: 8px;
  transition: all 0.5sec ease-in-out;
}
.logOutButton:hover {
  cursor: pointer;
  background-color: darkblue;
  transition: all 0.5sec ease-in-out;
}
.logOutButton:active {
  outline: 0.35rem solid rgba(13, 110, 253, 0.25);
  transition: all 0.5sec ease-in-out;
}

.imageCoverLoader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  50% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}

.signOutContainer {
  padding: 16px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.hiddenInput {
  display: none;
}
.uploadBtn {
  background-color: white;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  cursor: pointer;
  display: none;
  transition: all 0.5sec ease-in-out;
}
.uploadBtn:active {
  outline: 0.35rem solid rgba(255, 255, 255, 0.5);
  transition: all 0.5sec ease-in-out;
}
.uploadBtn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.coverDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.coverDiv.active,
.coverDiv:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.coverDiv.active .uploadBtn,
.coverDiv:hover .uploadBtn {
  display: block;
}

@media (max-width: 767px) {
  .expandProfile {
    top: 8px;
  }
}
