.container {
  padding: 16px;
  width: 100%;
  position: relative;
}
.appName {
  font-size: 1.1rem;
  font-weight: 600;
}
.container button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0px, -50%);
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}
