.container {
  padding: 16px;
  width: 100%;
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
}
.appName {
  font-size: 1rem;
  text-transform: capitalize;
}
.connectionStatus {
  margin-top: 3px;
  font-size: 0.85rem;
  color: var(--textSoft);
}

.profileImage {
  background-color: black;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}
.container button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0px, -50%);
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}
@media (max-width: 640px) {
  .appName {
    margin-top: 2px;
  }
}
