.container {
  width: 25%;
  overflow: hidden;
  border-right: 1px solid #414141;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.noUsers {
  text-align: center;
  color: whitesmoke;
  font-style: italic;
  margin-top: 16px;
}
.loader {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 18px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #414141;
}
.loader:last-child {
  border-bottom: none;
}
.searchEl {
  padding: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid #414141;
}
.searchEl input {
  border: none;
  outline: none;
  width: 100%;
  padding: 12px 16px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  outline: 2px solid rgba(255, 255, 255, 0.2);
}
.userList,
.userListLoader {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.userList:hover {
  overflow-y: auto;
}
.eachUser {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #414141;
  cursor: pointer;
}
.eachUser:last-child {
  border-bottom: none;
}
.eachUser .userName {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  text-transform: capitalize;
  margin-right: 5px;
}
.lastMessage {
  color: var(--textSoft);
  display: block;
  font-size: 0.85rem;
  display: grid;
  grid-template-columns: 1fr auto;
}
.lastMsg {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85rem;
  margin-right: 3px;
}
.lastTime {
  color: var(--textSoft);
  font-size: 13px;
}
.imageContainer {
  width: 38px;
  height: 38px;
  position: relative;
}
.imageContainer img {
  border-radius: 50%;
  flex-shrink: 0;
}
.onlineIndicator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
  border: 1px solid white;
  position: absolute;
  bottom: 2px;
  right: 0;
}
.offlineIndicator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #808088;
  border: 1px solid white;
  position: absolute;
  bottom: 2px;
  right: 0;
}
.imageCover {
  width: 160px;
  height: 160px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.imageLoader,
.aboutLoader,
.userNameLoader {
  background-color: gray;
  position: relative;
  overflow: hidden;
}
.imageLoader {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  flex-shrink: 0;
}
.flexRight {
  flex: 1;
  overflow: auto;
}
.aboutLoader,
.userNameLoader {
  width: 100px;
  height: 12px;
  border-radius: 8px;
}
.aboutLoader {
  margin-top: 11px;
  width: 300px;
  max-width: 100%;
  flex: 1;
}
.imageLoader::before,
.aboutLoader::before,
.userNameLoader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  50% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}
.unread {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #134d37;
  text-align: center;
  line-height: 18px;
  font-size: 13px;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    border: none;
  }
  .collapse {
    display: none;
  }
}
.connectionStatus {
  font-size: 0.85rem;
  color: var(--textSoft);
  padding: 0px 16px;
  margin-top: -12px;
}

@media (max-width: 420px) {
  .lastMessage {
    margin-top: 4px;
  }
  .unread {
    line-height: 20px;
  }
}
