:root {
  --font-mono: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #d4d2d2;
  --btn: #3673fd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  font-family: var(--font-mono);
}
body {
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainContainer {
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  display: flex;
}
.connectedStatus {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 2;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #636262;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

@media (max-width: 767px) {
  .mainContainer {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
  }
}

@media (max-width: 1025px) {
  .mainContainer {
    width: 100%;
    height: 100%;
  }
}
